lab2/telematics-lab.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 30000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "c81e1cf5-226c-34b6-8320-9001027e5220",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "30 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "a0e66f0c-4677-3995-b6bc-6ac837a48288",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "4531c34b-7e18-3455-8124-a6fbfd4dd367",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 30000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "4531c34b-7e18-3455-8124-a6fbfd4dd367",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "10 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "c8766180-65f6-3bb9-b6f1-f9a376c3a5ea",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "d745780d-7c6c-3e86-badf-9cf4b56babee",
            "name" : "ConsumeKinesisStream",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "3ca63e1a-d394-3daf-9290-076d130f82c2",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "51069039-ad43-35d7-83d3-59a3a6ab9c5b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "e62bdaa4-8f3d-3721-852f-64b3535d48c7",
            "name" : "ListenHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "aff0947f-e3ce-3434-85e5-4b524f7f829f",
            "name" : "PublishKafka_2_6",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "30 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "7eda09af-7272-369c-814f-ef334d76527c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "b03d43ed-a2c5-39d9-be92-51be5d87fe09",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "e8cdf871-6605-3a78-93c4-28ff8d7e6a2f",
            "name" : "PutDynamoDB",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "9d85c5b4-6f6c-30ea-8142-905e9668f56c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "b5743afc-4b2d-3d0d-96fa-d17459ed71b3",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "b03d43ed-a2c5-39d9-be92-51be5d87fe09",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "6e02c1dc-c6a6-31c5-a878-ff864cb62d5a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "17287fcd-1ad2-3ce1-9094-b109c813f8a0",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "6bad2299-d39c-37f0-ba53-54e3a02dc188",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "0bed0a9a-b5cd-3c59-a13f-32f3a7dcda65",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "17287fcd-1ad2-3ce1-9094-b109c813f8a0",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "4531c34b-7e18-3455-8124-a6fbfd4dd367",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "ff8b3201-c0af-3dbd-95b6-376eef482b64",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "97f7d8a4-ca18-34cf-8821-84bf8cb10803",
            "name" : "ConsumeKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "b5743afc-4b2d-3d0d-96fa-d17459ed71b3",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "e2161e69-c686-33ef-bfb6-810fe34b1fc1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "0291b134-09e6-3321-b05c-0a1284d58146",
            "name" : "ListenHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "38014a70-770a-3939-9ad0-59fa13551f8b",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "d6f4d377-feda-3715-a4e1-e5a9a76d2b29",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "bc79ec46-e6bd-3d03-aed5-0f5ee3bc6108",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "524a4410-19df-3b63-9d4a-93c3de592e89",
            "name" : "Wait",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "af3e92cd-b5b9-3dd0-978c-6f70dc62fde0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "7e75c209-f2e4-318c-894c-feccc1442e19",
            "name" : "ConsumeKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "9624c3ca-ce5a-3425-be01-a72ad9687392",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "3a76146e-6eba-3315-a6da-0cfc945765ad",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "54c95e9f-ddfc-3ec2-9289-a35c60930942",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "496b3873-7d79-33b4-b5cf-5a97cd8c6b4b",
            "name" : "Wait",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "e015c0bc-b44c-33f9-837e-fd6a1e71dbe2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success", "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "79a66521-846f-3d91-8f3b-20577b054094",
            "name" : "PutSNS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "79a66521-846f-3d91-8f3b-20577b054094",
            "name" : "PutSNS",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "02972945-fd76-3916-87dc-b53958a41c16",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "ac405859-34b5-39e8-b200-e2b22f0552ee",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "cdc3fa8b-07fb-35df-9ecc-6c53fff1fa72",
            "name" : "GetDynamoDB",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "fc68852a-c36f-311a-993c-7a64350c04d9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "9624c3ca-ce5a-3425-be01-a72ad9687392",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "bc79ec46-e6bd-3d03-aed5-0f5ee3bc6108",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "3df49862-188d-3581-ab75-2c70ee202456",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "6bad2299-d39c-37f0-ba53-54e3a02dc188",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "54c95e9f-ddfc-3ec2-9289-a35c60930942",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "d8cd91c8-b4c5-3ea0-aedf-db35614b6b96",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "43624849-daad-35f9-a84b-5e6b9b337591",
            "name" : "GetDynamoDB",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "cba0699e-5b63-3ceb-9def-0536fc12cc14",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "30 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "29a003ca-04d5-3442-afd7-5fa5d8ede2bb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "c81e1cf5-226c-34b6-8320-9001027e5220",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "43624849-daad-35f9-a84b-5e6b9b337591",
            "name" : "GetDynamoDB",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "267954cc-a463-3f96-8bd8-4a9239da7831",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "cba0699e-5b63-3ceb-9def-0536fc12cc14",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "17287fcd-1ad2-3ce1-9094-b109c813f8a0",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "9adbe111-3b78-34a1-b011-92c2d7e953bc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
            "id" : "cdc3fa8b-07fb-35df-9ecc-6c53fff1fa72",
            "name" : "GetDynamoDB",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-aws-service-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService"
          } ],
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "14025146-7ee7-359f-9854-80af3bba2f8c",
          "name" : "AWSCredentialsProviderControllerService",
          "properties" : {
            "default-credentials" : "false",
            "Session Time" : "3600",
            "anonymous-credentials" : "false"
          },
          "propertyDescriptors" : {
            "profile-name" : {
              "displayName" : "Profile Name",
              "identifiesControllerService" : false,
              "name" : "profile-name",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "assume-role-proxy-host" : {
              "displayName" : "Assume Role Proxy Host",
              "identifiesControllerService" : false,
              "name" : "assume-role-proxy-host",
              "sensitive" : false
            },
            "default-credentials" : {
              "displayName" : "Use Default Credentials",
              "identifiesControllerService" : false,
              "name" : "default-credentials",
              "sensitive" : false
            },
            "Session Time" : {
              "displayName" : "Session Time",
              "identifiesControllerService" : false,
              "name" : "Session Time",
              "sensitive" : false
            },
            "assume-role-proxy-port" : {
              "displayName" : "Assume Role Proxy Port",
              "identifiesControllerService" : false,
              "name" : "assume-role-proxy-port",
              "sensitive" : false
            },
            "Assume Role ARN" : {
              "displayName" : "Assume Role ARN",
              "identifiesControllerService" : false,
              "name" : "Assume Role ARN",
              "sensitive" : false
            },
            "Assume Role Session Name" : {
              "displayName" : "Assume Role Session Name",
              "identifiesControllerService" : false,
              "name" : "Assume Role Session Name",
              "sensitive" : false
            },
            "assume-role-sts-endpoint" : {
              "displayName" : "Assume Role STS Endpoint",
              "identifiesControllerService" : false,
              "name" : "assume-role-sts-endpoint",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "assume-role-external-id" : {
              "displayName" : "Assume Role External ID",
              "identifiesControllerService" : false,
              "name" : "assume-role-external-id",
              "sensitive" : false
            },
            "anonymous-credentials" : {
              "displayName" : "Use Anonymous Credentials",
              "identifiesControllerService" : false,
              "name" : "anonymous-credentials",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
        }, {
          "bundle" : {
            "artifact" : "nifi-ssl-context-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "type" : "org.apache.nifi.ssl.RestrictedSSLContextService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "type" : "org.apache.nifi.ssl.SSLContextService"
          } ],
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "0893a6c0-6164-34c5-b1ff-f4be86a11e85",
          "name" : "StandardRestrictedSSLContextService",
          "properties" : {
            "Truststore Type" : "JKS",
            "SSL Protocol" : "TLS",
            "Truststore Filename" : "/usr/local/openjdk-8/lib/security/cacerts"
          },
          "propertyDescriptors" : {
            "Truststore Type" : {
              "displayName" : "Truststore Type",
              "identifiesControllerService" : false,
              "name" : "Truststore Type",
              "sensitive" : false
            },
            "SSL Protocol" : {
              "displayName" : "TLS Protocol",
              "identifiesControllerService" : false,
              "name" : "SSL Protocol",
              "sensitive" : false
            },
            "Keystore Type" : {
              "displayName" : "Keystore Type",
              "identifiesControllerService" : false,
              "name" : "Keystore Type",
              "sensitive" : false
            },
            "Truststore Filename" : {
              "displayName" : "Truststore Filename",
              "identifiesControllerService" : false,
              "name" : "Truststore Filename",
              "sensitive" : false
            },
            "Keystore Password" : {
              "displayName" : "Keystore Password",
              "identifiesControllerService" : false,
              "name" : "Keystore Password",
              "sensitive" : true
            },
            "key-password" : {
              "displayName" : "Key Password",
              "identifiesControllerService" : false,
              "name" : "key-password",
              "sensitive" : true
            },
            "Truststore Password" : {
              "displayName" : "Truststore Password",
              "identifiesControllerService" : false,
              "name" : "Truststore Password",
              "sensitive" : true
            },
            "Keystore Filename" : {
              "displayName" : "Keystore Filename",
              "identifiesControllerService" : false,
              "name" : "Keystore Filename",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.ssl.StandardRestrictedSSLContextService"
        } ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
        "inputPorts" : [ ],
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "height" : 32.0,
          "identifier" : "d43d0ea8-ccaa-304c-8520-614b3e704d83",
          "label" : "Geo SNS Test",
          "position" : {
            "x" : 0.0,
            "y" : 280.0
          },
          "style" : {
            "font-size" : "22px"
          },
          "width" : 192.0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "height" : 40.0,
          "identifier" : "f103a77a-5354-3f8a-93cf-23db76f4c424",
          "label" : "MixTelematics Positions to Kafka",
          "position" : {
            "x" : 1464.0,
            "y" : 136.0
          },
          "style" : {
            "font-size" : "22px"
          },
          "width" : 360.0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "height" : 32.0,
          "identifier" : "32090140-c802-37e0-b705-20346145f42c",
          "label" : "Zonda Orders Listener",
          "position" : {
            "x" : 816.0,
            "y" : 512.0
          },
          "style" : {
            "font-size" : "22px"
          },
          "width" : 248.0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "height" : 40.0,
          "identifier" : "745ab3b0-aa07-3708-89c0-24587b817d48",
          "label" : "Kafka Positions Consume",
          "position" : {
            "x" : 2792.0,
            "y" : 440.0
          },
          "style" : {
            "font-size" : "22px"
          },
          "width" : 360.0
        } ],
        "name" : "Telematics-lab",
        "outputPorts" : [ ],
        "position" : {
          "x" : -235.4949999999999,
          "y" : -435.47911450195306
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "0291b134-09e6-3321-b05c-0a1284d58146",
          "name" : "ListenHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 768.0,
            "y" : 584.0
          },
          "properties" : {
            "authorized-issuer-dn-pattern" : ".*",
            "multipart-request-max-size" : "1 MB",
            "HTTP Protocols" : "HTTP_1_1",
            "Authorized DN Pattern" : ".*",
            "max-thread-pool-size" : "200",
            "Base Path" : "contentListener",
            "multipart-read-buffer-size" : "512 KB",
            "Max Unconfirmed Flowfile Time" : "60 secs",
            "client-authentication" : "AUTO",
            "Return Code" : "200",
            "Listening Port" : "8083"
          },
          "propertyDescriptors" : {
            "authorized-issuer-dn-pattern" : {
              "displayName" : "Authorized Issuer DN Pattern",
              "identifiesControllerService" : false,
              "name" : "authorized-issuer-dn-pattern",
              "sensitive" : false
            },
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "HTTP Protocols" : {
              "displayName" : "HTTP Protocols",
              "identifiesControllerService" : false,
              "name" : "HTTP Protocols",
              "sensitive" : false
            },
            "HTTP Headers to receive as Attributes (Regex)" : {
              "displayName" : "HTTP Headers to receive as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "HTTP Headers to receive as Attributes (Regex)",
              "sensitive" : false
            },
            "health-check-port" : {
              "displayName" : "Listening Port for Health Check Requests",
              "identifiesControllerService" : false,
              "name" : "health-check-port",
              "sensitive" : false
            },
            "Authorized DN Pattern" : {
              "displayName" : "Authorized Subject DN Pattern",
              "identifiesControllerService" : false,
              "name" : "Authorized DN Pattern",
              "sensitive" : false
            },
            "max-thread-pool-size" : {
              "displayName" : "Maximum Thread Pool Size",
              "identifiesControllerService" : false,
              "name" : "max-thread-pool-size",
              "sensitive" : false
            },
            "Base Path" : {
              "displayName" : "Base Path",
              "identifiesControllerService" : false,
              "name" : "Base Path",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Max Unconfirmed Flowfile Time" : {
              "displayName" : "Max Unconfirmed Flowfile Time",
              "identifiesControllerService" : false,
              "name" : "Max Unconfirmed Flowfile Time",
              "sensitive" : false
            },
            "Max Data to Receive per Second" : {
              "displayName" : "Max Data to Receive per Second",
              "identifiesControllerService" : false,
              "name" : "Max Data to Receive per Second",
              "sensitive" : false
            },
            "client-authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "client-authentication",
              "sensitive" : false
            },
            "Return Code" : {
              "displayName" : "Return Code",
              "identifiesControllerService" : false,
              "name" : "Return Code",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ListenHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "ac405859-34b5-39e8-b200-e2b22f0552ee",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -48.0,
            "y" : 352.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "{\n  \"CreatedDate\" : \"2022-03-02T14:19:03Z\",\n  \"IsConnectedTrailer\" : false,\n  \"AssetTypeId\" : 1,\n  \"SiteId\" : 2,\n  \"AssetId\" : 11,\n  \"IsDefaultImage\" : true,\n  \"Odometer\" : 861.446,\n  \"FmVehicleId\" : 222,\n  \"DefaultDriverId\" : 21,\n  \"CreatedBy\" : \"xxxx\",\n  \"UserState\" : \"Available\",\n  \"AssetImageUrl\" : \"x\",\n  \"AssetImage\" : \"x\",\n  \"IconColour\" : \"blue\",\n  \"Icon\" : \"truck-right\",\n  \"VinNumber\" : \"\",\n  \"TargetHourlyFuelConsumptionUnits\" : \"l/h\",\n  \"TargetFuelConsumptionUnits\" : \"km/l\",\n  \"RegistrationNumber\" : \"xxxxx\",\n  \"Description\" : \"VOLVO \"\n}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unprocessed", "failure", "not found" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 4,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "cdc3fa8b-07fb-35df-9ecc-6c53fff1fa72",
          "name" : "GetDynamoDB",
          "penaltyDuration" : "10 sec",
          "position" : {
            "x" : 1800.0,
            "y" : 1048.0
          },
          "properties" : {
            "Table Name" : "zonda-plates-orders",
            "Hash Key Value Type" : "string",
            "Hash Key Name" : "registrationNumber",
            "Batch items for each request (between 1 and 50)" : "1",
            "AWS Credentials Provider service" : "14025146-7ee7-359f-9854-80af3bba2f8c",
            "Range Key Value" : "${dynamodb.item.range.key.value}",
            "Communications Timeout" : "30 secs",
            "Region" : "eu-west-1",
            "Hash Key Value" : "${RegistrationNumber}",
            "Json Document attribute" : "data",
            "Range Key Value Type" : "string"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Hash Key Value Type" : {
              "displayName" : "Hash Key Value Type",
              "identifiesControllerService" : false,
              "name" : "Hash Key Value Type",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "Hash Key Name" : {
              "displayName" : "Hash Key Name",
              "identifiesControllerService" : false,
              "name" : "Hash Key Name",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Batch items for each request (between 1 and 50)" : {
              "displayName" : "Batch items for each request (between 1 and 50)",
              "identifiesControllerService" : false,
              "name" : "Batch items for each request (between 1 and 50)",
              "sensitive" : false
            },
            "Range Key Name" : {
              "displayName" : "Range Key Name",
              "identifiesControllerService" : false,
              "name" : "Range Key Name",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider Service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Range Key Value" : {
              "displayName" : "Range Key Value",
              "identifiesControllerService" : false,
              "name" : "Range Key Value",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Hash Key Value" : {
              "displayName" : "Hash Key Value",
              "identifiesControllerService" : false,
              "name" : "Hash Key Value",
              "sensitive" : false
            },
            "Json Document attribute" : {
              "displayName" : "Json Document attribute",
              "identifiesControllerService" : false,
              "name" : "Json Document attribute",
              "sensitive" : false
            },
            "Range Key Value Type" : {
              "displayName" : "Range Key Value Type",
              "identifiesControllerService" : false,
              "name" : "Range Key Value Type",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.dynamodb.GetDynamoDB",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "bc79ec46-e6bd-3d03-aed5-0f5ee3bc6108",
          "name" : "AttributesToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2288.0,
            "y" : 360.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "Null Value" : "false",
            "Include Core Attributes" : "false"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-json-regex",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Null Value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "Null Value",
              "sensitive" : false
            },
            "Attributes List" : {
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "name" : "Attributes List",
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "Include Core Attributes",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 4,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "c81e1cf5-226c-34b6-8320-9001027e5220",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1190.0,
            "y" : 651.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "mime.type" : "application/json"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "mime.type" : {
              "displayName" : "mime.type",
              "identifiesControllerService" : false,
              "name" : "mime.type",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "EVENT_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "54c95e9f-ddfc-3ec2-9289-a35c60930942",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1192.0,
            "y" : 1296.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "RegistrationNumber" : "$.RegistrationNumber",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "RegistrationNumber" : {
              "displayName" : "RegistrationNumber",
              "identifiesControllerService" : false,
              "name" : "RegistrationNumber",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "aff0947f-e3ce-3434-85e5-4b524f7f829f",
          "name" : "PublishKafka_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1808.0,
            "y" : 232.0
          },
          "properties" : {
            "compression.type" : "none",
            "bootstrap.servers" : "b-2.logi-databackbone-dev.xnveo1.c1.kafka.eu-west-1.amazonaws.com:9092",
            "kafka-key" : "${aws.kinesis.sequence.number}",
            "sasl.mechanism" : "GSSAPI",
            "max.block.ms" : "5 sec",
            "message-header-encoding" : "UTF-8",
            "ack.wait.time" : "5 secs",
            "use-transactions" : "false",
            "acks" : "0",
            "security.protocol" : "PLAINTEXT",
            "max.request.size" : "1 MB",
            "sasl.token.auth" : "false",
            "Failure Strategy" : "Route to Failure",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "topic" : "test-logistics",
            "key-attribute-encoding" : "utf-8"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "kafka-key" : {
              "displayName" : "Kafka Key",
              "identifiesControllerService" : false,
              "name" : "kafka-key",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "max.block.ms" : {
              "displayName" : "Max Metadata Wait Time",
              "identifiesControllerService" : false,
              "name" : "max.block.ms",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "transactional-id-prefix" : {
              "displayName" : "Transactional Id Prefix",
              "identifiesControllerService" : false,
              "name" : "transactional-id-prefix",
              "sensitive" : false
            },
            "ack.wait.time" : {
              "displayName" : "Acknowledgment Wait Time",
              "identifiesControllerService" : false,
              "name" : "ack.wait.time",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "use-transactions" : {
              "displayName" : "Use Transactions",
              "identifiesControllerService" : false,
              "name" : "use-transactions",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "Failure Strategy" : {
              "displayName" : "Failure Strategy",
              "identifiesControllerService" : false,
              "name" : "Failure Strategy",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "e62bdaa4-8f3d-3721-852f-64b3535d48c7",
          "name" : "ListenHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -480.0,
            "y" : 408.0
          },
          "properties" : {
            "authorized-issuer-dn-pattern" : ".*",
            "multipart-request-max-size" : "1 MB",
            "HTTP Protocols" : "HTTP_1_1",
            "Authorized DN Pattern" : ".*",
            "max-thread-pool-size" : "200",
            "Base Path" : "state",
            "multipart-read-buffer-size" : "512 KB",
            "Max Unconfirmed Flowfile Time" : "60 secs",
            "client-authentication" : "AUTO",
            "Return Code" : "200",
            "Listening Port" : "8083"
          },
          "propertyDescriptors" : {
            "authorized-issuer-dn-pattern" : {
              "displayName" : "Authorized Issuer DN Pattern",
              "identifiesControllerService" : false,
              "name" : "authorized-issuer-dn-pattern",
              "sensitive" : false
            },
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "HTTP Protocols" : {
              "displayName" : "HTTP Protocols",
              "identifiesControllerService" : false,
              "name" : "HTTP Protocols",
              "sensitive" : false
            },
            "HTTP Headers to receive as Attributes (Regex)" : {
              "displayName" : "HTTP Headers to receive as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "HTTP Headers to receive as Attributes (Regex)",
              "sensitive" : false
            },
            "health-check-port" : {
              "displayName" : "Listening Port for Health Check Requests",
              "identifiesControllerService" : false,
              "name" : "health-check-port",
              "sensitive" : false
            },
            "Authorized DN Pattern" : {
              "displayName" : "Authorized Subject DN Pattern",
              "identifiesControllerService" : false,
              "name" : "Authorized DN Pattern",
              "sensitive" : false
            },
            "max-thread-pool-size" : {
              "displayName" : "Maximum Thread Pool Size",
              "identifiesControllerService" : false,
              "name" : "max-thread-pool-size",
              "sensitive" : false
            },
            "Base Path" : {
              "displayName" : "Base Path",
              "identifiesControllerService" : false,
              "name" : "Base Path",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Max Unconfirmed Flowfile Time" : {
              "displayName" : "Max Unconfirmed Flowfile Time",
              "identifiesControllerService" : false,
              "name" : "Max Unconfirmed Flowfile Time",
              "sensitive" : false
            },
            "Max Data to Receive per Second" : {
              "displayName" : "Max Data to Receive per Second",
              "identifiesControllerService" : false,
              "name" : "Max Data to Receive per Second",
              "sensitive" : false
            },
            "client-authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "client-authentication",
              "sensitive" : false
            },
            "Return Code" : {
              "displayName" : "Return Code",
              "identifiesControllerService" : false,
              "name" : "Return Code",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ListenHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unprocessed", "success", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "e8cdf871-6605-3a78-93c4-28ff8d7e6a2f",
          "name" : "PutDynamoDB",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 768.0,
            "y" : 1040.0
          },
          "properties" : {
            "Table Name" : "zonda-plates-orders",
            "Hash Key Value Type" : "string",
            "Hash Key Name" : "registrationNumber",
            "Character set of document" : "UTF-8",
            "Batch items for each request (between 1 and 50)" : "1",
            "AWS Credentials Provider service" : "14025146-7ee7-359f-9854-80af3bba2f8c",
            "Range Key Value" : "${dynamodb.item.range.key.value}",
            "Communications Timeout" : "30 secs",
            "Region" : "eu-west-1",
            "Hash Key Value" : "${truckPlateNo}",
            "Json Document attribute" : "data",
            "Range Key Value Type" : "string"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Hash Key Value Type" : {
              "displayName" : "Hash Key Value Type",
              "identifiesControllerService" : false,
              "name" : "Hash Key Value Type",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "Hash Key Name" : {
              "displayName" : "Hash Key Name",
              "identifiesControllerService" : false,
              "name" : "Hash Key Name",
              "sensitive" : false
            },
            "Character set of document" : {
              "displayName" : "Character set of document",
              "identifiesControllerService" : false,
              "name" : "Character set of document",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Batch items for each request (between 1 and 50)" : {
              "displayName" : "Batch items for each request (between 1 and 50)",
              "identifiesControllerService" : false,
              "name" : "Batch items for each request (between 1 and 50)",
              "sensitive" : false
            },
            "Range Key Name" : {
              "displayName" : "Range Key Name",
              "identifiesControllerService" : false,
              "name" : "Range Key Name",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider Service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Range Key Value" : {
              "displayName" : "Range Key Value",
              "identifiesControllerService" : false,
              "name" : "Range Key Value",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Hash Key Value" : {
              "displayName" : "Hash Key Value",
              "identifiesControllerService" : false,
              "name" : "Hash Key Value",
              "sensitive" : false
            },
            "Json Document attribute" : {
              "displayName" : "Json Document attribute",
              "identifiesControllerService" : false,
              "name" : "Json Document attribute",
              "sensitive" : false
            },
            "Range Key Value Type" : {
              "displayName" : "Range Key Value Type",
              "identifiesControllerService" : false,
              "name" : "Range Key Value Type",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.dynamodb.PutDynamoDB",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "97f7d8a4-ca18-34cf-8821-84bf8cb10803",
          "name" : "ConsumeKafka_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 920.0,
            "y" : 240.0
          },
          "properties" : {
            "Commit Offsets" : "true",
            "group.id" : "appnifi",
            "bootstrap.servers" : "b-2.logi-databackbone-dev.xnveo1.c1.kafka.eu-west-1.amazonaws.com:9092",
            "topic_type" : "names",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "GSSAPI",
            "honor-transactions" : "true",
            "message-header-encoding" : "UTF-8",
            "max.poll.records" : "10000",
            "security.protocol" : "PLAINTEXT",
            "sasl.token.auth" : "false",
            "Communications Timeout" : "60 secs",
            "topic" : "test-logistics",
            "separate-by-key" : "false",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "earliest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "Commit Offsets" : {
              "displayName" : "Commit Offsets",
              "identifiesControllerService" : false,
              "name" : "Commit Offsets",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "separate-by-key" : {
              "displayName" : "Separate By Key",
              "identifiesControllerService" : false,
              "name" : "separate-by-key",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "17287fcd-1ad2-3ce1-9094-b109c813f8a0",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1800.0,
            "y" : 792.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "orderNo" : "$.orderNo",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "type" : "$.type",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "orderNo" : {
              "displayName" : "orderNo",
              "identifiesControllerService" : false,
              "name" : "orderNo",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "type" : {
              "displayName" : "type",
              "identifiesControllerService" : false,
              "name" : "type",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "wait", "expired", "success", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "496b3873-7d79-33b4-b5cf-5a97cd8c6b4b",
          "name" : "Wait",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -32.0,
            "y" : 808.0
          },
          "properties" : {
            "wait-buffer-count" : "1",
            "wait-mode" : "wait",
            "attribute-copy-mode" : "keeporiginal",
            "releasable-flowfile-count" : "1",
            "release-signal-id" : "end",
            "expiration-duration" : "10 min",
            "target-signal-count" : "1"
          },
          "propertyDescriptors" : {
            "wait-buffer-count" : {
              "displayName" : "Wait Buffer Count",
              "identifiesControllerService" : false,
              "name" : "wait-buffer-count",
              "sensitive" : false
            },
            "wait-mode" : {
              "displayName" : "Wait Mode",
              "identifiesControllerService" : false,
              "name" : "wait-mode",
              "sensitive" : false
            },
            "attribute-copy-mode" : {
              "displayName" : "Attribute Copy Mode",
              "identifiesControllerService" : false,
              "name" : "attribute-copy-mode",
              "sensitive" : false
            },
            "distributed-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "distributed-cache-service",
              "sensitive" : false
            },
            "releasable-flowfile-count" : {
              "displayName" : "Releasable FlowFile Count",
              "identifiesControllerService" : false,
              "name" : "releasable-flowfile-count",
              "sensitive" : false
            },
            "release-signal-id" : {
              "displayName" : "Release Signal Identifier",
              "identifiesControllerService" : false,
              "name" : "release-signal-id",
              "sensitive" : false
            },
            "signal-counter-name" : {
              "displayName" : "Signal Counter Name",
              "identifiesControllerService" : false,
              "name" : "signal-counter-name",
              "sensitive" : false
            },
            "expiration-duration" : {
              "displayName" : "Expiration Duration",
              "identifiesControllerService" : false,
              "name" : "expiration-duration",
              "sensitive" : false
            },
            "target-signal-count" : {
              "displayName" : "Target Signal Count",
              "identifiesControllerService" : false,
              "name" : "target-signal-count",
              "sensitive" : false
            },
            "wait-penalty-duration" : {
              "displayName" : "Wait Penalty Duration",
              "identifiesControllerService" : false,
              "name" : "wait-penalty-duration",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Wait",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "524a4410-19df-3b63-9d4a-93c3de592e89",
          "name" : "Wait",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2784.0,
            "y" : 840.0
          },
          "properties" : {
            "wait-buffer-count" : "1",
            "wait-mode" : "wait",
            "attribute-copy-mode" : "keeporiginal",
            "releasable-flowfile-count" : "1",
            "expiration-duration" : "10 min",
            "target-signal-count" : "1"
          },
          "propertyDescriptors" : {
            "wait-buffer-count" : {
              "displayName" : "Wait Buffer Count",
              "identifiesControllerService" : false,
              "name" : "wait-buffer-count",
              "sensitive" : false
            },
            "wait-mode" : {
              "displayName" : "Wait Mode",
              "identifiesControllerService" : false,
              "name" : "wait-mode",
              "sensitive" : false
            },
            "attribute-copy-mode" : {
              "displayName" : "Attribute Copy Mode",
              "identifiesControllerService" : false,
              "name" : "attribute-copy-mode",
              "sensitive" : false
            },
            "distributed-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "distributed-cache-service",
              "sensitive" : false
            },
            "releasable-flowfile-count" : {
              "displayName" : "Releasable FlowFile Count",
              "identifiesControllerService" : false,
              "name" : "releasable-flowfile-count",
              "sensitive" : false
            },
            "release-signal-id" : {
              "displayName" : "Release Signal Identifier",
              "identifiesControllerService" : false,
              "name" : "release-signal-id",
              "sensitive" : false
            },
            "signal-counter-name" : {
              "displayName" : "Signal Counter Name",
              "identifiesControllerService" : false,
              "name" : "signal-counter-name",
              "sensitive" : false
            },
            "expiration-duration" : {
              "displayName" : "Expiration Duration",
              "identifiesControllerService" : false,
              "name" : "expiration-duration",
              "sensitive" : false
            },
            "target-signal-count" : {
              "displayName" : "Target Signal Count",
              "identifiesControllerService" : false,
              "name" : "target-signal-count",
              "sensitive" : false
            },
            "wait-penalty-duration" : {
              "displayName" : "Wait Penalty Duration",
              "identifiesControllerService" : false,
              "name" : "wait-penalty-duration",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.Wait",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "3ca63e1a-d394-3daf-9290-076d130f82c2",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -480.0,
            "y" : 656.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 4,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "cba0699e-5b63-3ceb-9def-0536fc12cc14",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1192.0,
            "y" : 864.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Latitude" : "$.Latitude",
            "asset" : "$.AssetId",
            "Longitude" : "$.Longitude",
            "Timestamp" : "$.Timestamp",
            "Path Not Found Behavior" : "ignore",
            "GroupId" : "$.GroupId"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Latitude" : {
              "displayName" : "Latitude",
              "identifiesControllerService" : false,
              "name" : "Latitude",
              "sensitive" : false
            },
            "asset" : {
              "displayName" : "asset",
              "identifiesControllerService" : false,
              "name" : "asset",
              "sensitive" : false
            },
            "Longitude" : {
              "displayName" : "Longitude",
              "identifiesControllerService" : false,
              "name" : "Longitude",
              "sensitive" : false
            },
            "Timestamp" : {
              "displayName" : "Timestamp",
              "identifiesControllerService" : false,
              "name" : "Timestamp",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            },
            "GroupId" : {
              "displayName" : "GroupId",
              "identifiesControllerService" : false,
              "name" : "GroupId",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "d745780d-7c6c-3e86-badf-9cf4b56babee",
          "name" : "ConsumeKinesisStream",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1400.0,
            "y" : 240.0
          },
          "properties" : {
            "amazon-kinesis-stream-cloudwatch-flag" : "false",
            "kinesis-stream-name" : "telematics-positions",
            "amazon-kinesis-stream-initial-position" : "LATEST",
            "amazon-kinesis-stream-application-name" : "logistics-flow",
            "amazon-kinesis-stream-failover-timeout" : "30 secs",
            "amazon-kinesis-stream-retry-count" : "10",
            "AWS Credentials Provider service" : "14025146-7ee7-359f-9854-80af3bba2f8c",
            "amazon-kinesis-stream-timestamp-format" : "yyyy-MM-dd HH:mm:ss",
            "amazon-kinesis-stream-graceful-shutdown-timeout" : "20 secs",
            "amazon-kinesis-stream-checkpoint-interval" : "3 secs",
            "Communications Timeout" : "30 secs",
            "Region" : "eu-west-1",
            "amazon-kinesis-stream-retry-wait" : "1 sec"
          },
          "propertyDescriptors" : {
            "amazon-kinesis-stream-cloudwatch-flag" : {
              "displayName" : "Report Metrics to CloudWatch",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-cloudwatch-flag",
              "sensitive" : false
            },
            "kinesis-stream-name" : {
              "displayName" : "Amazon Kinesis Stream Name",
              "identifiesControllerService" : false,
              "name" : "kinesis-stream-name",
              "sensitive" : false
            },
            "amazon-kinesis-stream-initial-position" : {
              "displayName" : "Initial Stream Position",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-initial-position",
              "sensitive" : false
            },
            "amazon-kinesis-stream-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "amazon-kinesis-stream-record-writer",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "amazon-kinesis-stream-application-name" : {
              "displayName" : "Application Name",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-application-name",
              "sensitive" : false
            },
            "Endpoint Override URL" : {
              "displayName" : "Endpoint Override URL",
              "identifiesControllerService" : false,
              "name" : "Endpoint Override URL",
              "sensitive" : false
            },
            "amazon-kinesis-stream-failover-timeout" : {
              "displayName" : "Failover Timeout",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-failover-timeout",
              "sensitive" : false
            },
            "amazon-kinesis-stream-retry-count" : {
              "displayName" : "Retry Count",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-retry-count",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider Service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "amazon-kinesis-stream-timestamp-format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-timestamp-format",
              "sensitive" : false
            },
            "amazon-kinesis-stream-graceful-shutdown-timeout" : {
              "displayName" : "Graceful Shutdown Timeout",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-graceful-shutdown-timeout",
              "sensitive" : false
            },
            "amazon-kinesis-stream-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "amazon-kinesis-stream-record-reader",
              "sensitive" : false
            },
            "amazon-kinesis-stream-checkpoint-interval" : {
              "displayName" : "Checkpoint Interval",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-checkpoint-interval",
              "sensitive" : false
            },
            "amazon-kinesis-stream-dynamodb-override" : {
              "displayName" : "DynamoDB Override",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-dynamodb-override",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "amazon-kinesis-stream-retry-wait" : {
              "displayName" : "Retry Wait",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-retry-wait",
              "sensitive" : false
            },
            "amazon-kinesis-stream-position-timestamp" : {
              "displayName" : "Stream Position Timestamp",
              "identifiesControllerService" : false,
              "name" : "amazon-kinesis-stream-position-timestamp",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "5 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.kinesis.stream.ConsumeKinesisStream",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 4,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "b5743afc-4b2d-3d0d-96fa-d17459ed71b3",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 768.0,
            "y" : 816.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "data" : "$",
            "Return Type" : "json",
            "Null Value Representation" : "empty string",
            "truckPlateNo" : "$.truckPlateNo",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "data" : {
              "displayName" : "data",
              "identifiesControllerService" : false,
              "name" : "data",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "truckPlateNo" : {
              "displayName" : "truckPlateNo",
              "identifiesControllerService" : false,
              "name" : "truckPlateNo",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "79a66521-846f-3d91-8f3b-20577b054094",
          "name" : "PutSNS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -24.0,
            "y" : 592.0
          },
          "properties" : {
            "ARN Type" : "Topic ARN",
            "Amazon Resource Name (ARN)" : "arn:aws:sns:eu-west-1:418639287320:dev-gps-trucks-topic.fifo",
            "Communications Timeout" : "30 secs",
            "Region" : "eu-west-1",
            "Use JSON Structure" : "false",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Deduplication Message ID" : {
              "displayName" : "Deduplication Message ID",
              "identifiesControllerService" : false,
              "name" : "Deduplication Message ID",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "Message Group ID" : {
              "displayName" : "Message Group ID",
              "identifiesControllerService" : false,
              "name" : "Message Group ID",
              "sensitive" : false
            },
            "E-mail Subject" : {
              "displayName" : "E-mail Subject",
              "identifiesControllerService" : false,
              "name" : "E-mail Subject",
              "sensitive" : false
            },
            "ARN Type" : {
              "displayName" : "ARN Type",
              "identifiesControllerService" : false,
              "name" : "ARN Type",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider Service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Amazon Resource Name (ARN)" : {
              "displayName" : "Amazon Resource Name (ARN)",
              "identifiesControllerService" : false,
              "name" : "Amazon Resource Name (ARN)",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Use JSON Structure" : {
              "displayName" : "Use JSON Structure",
              "identifiesControllerService" : false,
              "name" : "Use JSON Structure",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.sns.PutSNS",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "4531c34b-7e18-3455-8124-a6fbfd4dd367",
          "name" : "ControlRate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1192.0,
            "y" : 448.0
          },
          "properties" : {
            "Time Duration" : "1 sec",
            "Maximum Rate" : "50",
            "Rate Control Criteria" : "flowfile count"
          },
          "propertyDescriptors" : {
            "Time Duration" : {
              "displayName" : "Time Duration",
              "identifiesControllerService" : false,
              "name" : "Time Duration",
              "sensitive" : false
            },
            "Grouping Attribute" : {
              "displayName" : "Grouping Attribute",
              "identifiesControllerService" : false,
              "name" : "Grouping Attribute",
              "sensitive" : false
            },
            "Maximum Rate" : {
              "displayName" : "Maximum Rate",
              "identifiesControllerService" : false,
              "name" : "Maximum Rate",
              "sensitive" : false
            },
            "Rate Controlled Attribute" : {
              "displayName" : "Rate Controlled Attribute",
              "identifiesControllerService" : false,
              "name" : "Rate Controlled Attribute",
              "sensitive" : false
            },
            "Rate Control Criteria" : {
              "displayName" : "Rate Control Criteria",
              "identifiesControllerService" : false,
              "name" : "Rate Control Criteria",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ControlRate",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "9624c3ca-ce5a-3425-be01-a72ad9687392",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1800.0,
            "y" : 1296.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "RegistrationNumber" : "${RegistrationNumber:replace('-',''):replace(' ','')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "RegistrationNumber" : {
              "displayName" : "RegistrationNumber",
              "identifiesControllerService" : false,
              "name" : "RegistrationNumber",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "7e75c209-f2e4-318c-894c-feccc1442e19",
          "name" : "ConsumeKafka_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2792.0,
            "y" : 528.0
          },
          "properties" : {
            "Commit Offsets" : "true",
            "group.id" : "appnifi",
            "bootstrap.servers" : "b-2.logi-databackbone-dev.xnveo1.c1.kafka.eu-west-1.amazonaws.com:9092",
            "topic_type" : "names",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "GSSAPI",
            "honor-transactions" : "true",
            "message-header-encoding" : "UTF-8",
            "max.poll.records" : "10000",
            "security.protocol" : "PLAINTEXT",
            "sasl.token.auth" : "false",
            "Communications Timeout" : "60 secs",
            "topic" : "test-logistics",
            "separate-by-key" : "false",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "earliest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "Commit Offsets" : {
              "displayName" : "Commit Offsets",
              "identifiesControllerService" : false,
              "name" : "Commit Offsets",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "separate-by-key" : {
              "displayName" : "Separate By Key",
              "identifiesControllerService" : false,
              "name" : "separate-by-key",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unprocessed", "failure", "not found" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 4,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "43624849-daad-35f9-a84b-5e6b9b337591",
          "name" : "GetDynamoDB",
          "penaltyDuration" : "10 sec",
          "position" : {
            "x" : 1192.0,
            "y" : 1072.0
          },
          "properties" : {
            "Table Name" : "assetId2RegistrationNumber",
            "Hash Key Value Type" : "number",
            "Hash Key Name" : "AssetId",
            "Batch items for each request (between 1 and 50)" : "1",
            "AWS Credentials Provider service" : "14025146-7ee7-359f-9854-80af3bba2f8c",
            "Range Key Value" : "${dynamodb.item.range.key.value}",
            "Communications Timeout" : "30 secs",
            "Region" : "eu-west-1",
            "Hash Key Value" : "${asset}",
            "Json Document attribute" : "data",
            "Range Key Value Type" : "string"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Hash Key Value Type" : {
              "displayName" : "Hash Key Value Type",
              "identifiesControllerService" : false,
              "name" : "Hash Key Value Type",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "Hash Key Name" : {
              "displayName" : "Hash Key Name",
              "identifiesControllerService" : false,
              "name" : "Hash Key Name",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Batch items for each request (between 1 and 50)" : {
              "displayName" : "Batch items for each request (between 1 and 50)",
              "identifiesControllerService" : false,
              "name" : "Batch items for each request (between 1 and 50)",
              "sensitive" : false
            },
            "Range Key Name" : {
              "displayName" : "Range Key Name",
              "identifiesControllerService" : false,
              "name" : "Range Key Name",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider Service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Range Key Value" : {
              "displayName" : "Range Key Value",
              "identifiesControllerService" : false,
              "name" : "Range Key Value",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Hash Key Value" : {
              "displayName" : "Hash Key Value",
              "identifiesControllerService" : false,
              "name" : "Hash Key Value",
              "sensitive" : false
            },
            "Json Document attribute" : {
              "displayName" : "Json Document attribute",
              "identifiesControllerService" : false,
              "name" : "Json Document attribute",
              "sensitive" : false
            },
            "Range Key Value Type" : {
              "displayName" : "Range Key Value Type",
              "identifiesControllerService" : false,
              "name" : "Range Key Value Type",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.dynamodb.GetDynamoDB",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "b03d43ed-a2c5-39d9-be92-51be5d87fe09",
          "name" : "AttributesToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1800.0,
            "y" : 448.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "Null Value" : "false",
            "Include Core Attributes" : "false"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-json-regex",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Null Value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "Null Value",
              "sensitive" : false
            },
            "Attributes List" : {
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "name" : "Attributes List",
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "Include Core Attributes",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-stateful-analysis-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "5c964dd2-069a-3edd-878d-54f7bd674db0",
          "name" : "AttributeRollingWindow",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 540.1199633930423,
            "y" : 123.6236668145543
          },
          "properties" : { },
          "propertyDescriptors" : {
            "Value to track" : {
              "displayName" : "Value to track",
              "identifiesControllerService" : false,
              "name" : "Value to track",
              "sensitive" : false
            },
            "Time window" : {
              "displayName" : "Time window",
              "identifiesControllerService" : false,
              "name" : "Time window",
              "sensitive" : false
            },
            "Sub-window length" : {
              "displayName" : "Sub-window length",
              "identifiesControllerService" : false,
              "name" : "Sub-window length",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.stateful.analysis.AttributeRollingWindow",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "6bad2299-d39c-37f0-ba53-54e3a02dc188",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2288.0,
            "y" : 584.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "Location" : "${Latitude},${Longitude}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "Location" : {
              "displayName" : "Location",
              "identifiesControllerService" : false,
              "name" : "Location",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "203c9152-5493-3f08-bd75-b46a16c17d0d",
          "identifier" : "38014a70-770a-3939-9ad0-59fa13551f8b",
          "name" : "PutElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2288.0,
            "y" : 152.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "put-es-index" : "geopositions",
            "elasticsearch-http-url" : "https://d87988b5ea1a42f4a9247ba50db8a73a.vpce.eu-west-1.aws.elastic-cloud.com",
            "put-es-batch-size" : "100",
            "SSL Context Service" : "0893a6c0-6164-34c5-b1ff-f4be86a11e85",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "Username" : "transformation_ingest",
            "put-es-index-op" : "index",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "put-es-id-attr" : {
              "displayName" : "Identifier Attribute",
              "identifiesControllerService" : false,
              "name" : "put-es-id-attr",
              "sensitive" : false
            },
            "put-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "put-es-type",
              "sensitive" : false
            },
            "put-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "put-es-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "put-es-index-op" : {
              "displayName" : "Index Operation",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}